[Unit]
Description=yascui - yet another snpcast ui
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/share/yascui/yascui.py


[Install]
WantedBy=multi-user.target
